.button-spacing{
    margin: 4px;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched{
    border: 1px solid red;
}

img{
    height: 400px;
}